
*{ box-sizing: border-box }
img {
 width: 100%;
 display: block;
}

@import "_background-image.scss";
@import "_text-styles.scss";
@import "_input-styles.scss";

body {
  background-color: chartreuse;

}
